.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
/* Esercizio 1 */

.ex-1-square:hover {
    transition: 2s;
    background-color: red;
}


.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* Esercizio 2 */
.ex-2-square:active {
    width: 100%;
    transition: 2s;
}


.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* Esercizio 3 */
.ex-3-square:hover {
    transition: 1s;
    border-radius: 50%;
}


.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* Esercizio 4 */
.ex-4-square:hover {
    opacity: 0;
    transition: 1s;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
/* Esercizio 5 */
.ex-5-square:hover {
    scale: 1.5;
}

.ex-5-square:active {
    scale: 0.5;
}


.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(60%) sepia(40%);
}

/* Esercizio 7 */
.ex-7-img:hover {
    filter: sepia(80%);
    transition: 2s;
}

/* Esercizio 8 */
.ex-8-img:hover {
    transition: 2s;
    border-radius: 5%;
    filter: grayscale(60%) sepia(40%);
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

/* Esercizio 9 */
.ex-9-img:hover {
    transition: 2s;
    border-radius: 5%;
    filter: grayscale(60%) sepia(40%);
    transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
}

/* Esercizio 10 */
.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
      }
    
}

.ex-11-icon {
    font-size: 60px;
}

/* Esercizio 11 */
.ex-11-icon:hover {
    animation: spin90 2s linear;
}

@keyframes spin90 {
    0% {
     transform: rotate(0);
    }
    75% {
        transform:rotate(315deg);
    }

    100% {
     transform: rotate(0);
    }
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: movetop12 2s linear;
}

@keyframes movetop12{
    0% {
        left: 10%
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left:10%
    }
    
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: movebottom12 2s linear;
}

@keyframes movebottom12{
    0% {
        right: 20%
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right:20%
    }
    
}

